
<div class="row">
  <div class="large-9 columns post-container">
    <div class ="large-12 columns text-center"><%= image_tag @user.avatar.url(:thumb), id: "author-img" %></div>
    <div class ="large-12 columns text-center"><%= @user.name%></div>

    <% if current_user && current_user.posts.empty? %>
      <p>You haven't created any post.</p>
    <% elsif current_user && current_user.posts %>
      <% current_user.posts.each do |post|%>
        <div class="large-12 columns text-center posts"><h3><%= link_to post.title, post_path(post)%></h3></div>
        <div class="large-12 columns text-center"><%= link_to "Edit", edit_post_path(post)%> <%= link_to "Delete", post, method: :delete %></div>
      <% end %>
    <% else %>
      <% @user.posts.each do |post|%>
          <div class="large-12 columns text-center">
            <%= link_to post.title, post_path(post)%>
          </div>
      <% end %>
    <% end %>
    </div>
    <div class="large-3 columns"></div>
  </div>

<% if current_user %>
  <%= link_to "New post", new_post_path %>
<% end %>
