<% if current_user.posts.empty? %>
  <p>You haven't created any post.</p>
<% elsif current_user.posts %>
  <% current_user.posts.each do |post|%>
    <div><%= link_to post.title, post_path(post)%></div>
    <div><%= link_to "Edit", edit_post_path(post)%> <%= link_to "Delete", post, method: :delete %></div>
  <% end %>
<% else %>
  <%= @user.posts.each do |post|%>
    <%= link_to post.title, post_path(post)%>
  <% end %>
<% end %>

<% if current_user %>
  <%= link_to "New post", new_post_path %>
<% end %>