<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1 id="website-name"><%= link_to "The Woof Street Journal", root_path %></h1>
    </li>
  </ul>


  <section class="top-bar-section">
    <ul class="right">
      <% if current_user %>
        <li class="active"><%= link_to "#{current_user.username}", user_path(current_user) %></li>  
        <li><%= link_to "Logout", logout_path %></li>
      <% else %>
        <li><a href="#myModal" data-reveal-id="myModal">Login</a></li>
        <%= render partial: 'sessions/new'%>
      <% end %>       
    </ul>

    <ul class="left">
      <li><%= link_to "LIFE", category_path('life') %></li>
      <li><%= link_to "DISCOVER", category_path('discover') %></li>
      <li><%= link_to "HUMOR", category_path('humor') %></li>
      <li><%= link_to "TRAVEL", category_path('travel') %></li>
      <li><%= link_to "GOOD", category_path('good') %></li>
    </ul>
  </section>
</nav>